{% set elasticsearch = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [
            'elasticsearch',
            'openjdk-7-jre-headless'
        ]
    },
    'RedHat': {
        'pkgs': [
            'elasticsearch',
            'java-1.7.0-openjdk-headless'
        ]
    },
    'Arch': {
        'pkgs': [
        ]
    }
}, merge=salt['pillar.get']('elasticsearch:lookup')) %}
